In [ ]:
l = [1, 2, 3, 4, 7]
if '3' in l:
  print('yey')
else:
  print('nay!')

nay!

In [ ]:
'd' in 'bflaenfoaienfad'

True

In [ ]:
'p' in 'aksdfjhkasef'

False

In [ ]:
animals = [
    'dog',
    'cat',
    'zebra',
    'mouse',
    'hippopotamus',
    'lion'
]
len(animals)

6

In [ ]:
len('word')

4

## Iteration

In [ ]:
for animal in animals:
  animal_length = len(animal)
  print(f'The {animal} has {animal_length} letters.')

The dog has 3 letters.
The cat has 3 letters.
The zebra has 5 letters.
The mouse has 5 letters.
The hippopotamus has 12 letters.
The lion has 4 letters.

In [ ]:
for a in animals:
  print(a)

dog
cat
zebra
mouse
hippopotamus
lion

The things you iterate over are _iterables_.

In [ ]:
for c in 'blablabla':
  print(c)

b
l
a
b
l
a
b
l
a

Figure out, how to count the number of _a_'s (the letter A) inside an arbitrary string. Use a `for` loop.

In [ ]:
text = 'Albert'

# counter
i = 0

for c in text:
  if (c == "a") or (c == 'A'):
    # incrementation
    i += 1

print(i)

1

In [ ]:
'A' == 'a'

False

In [ ]:
'BLABLBAadsfasdfa'.upper()

'BLABLBAADSFASDFA'

In [ ]:
text = 'blablabla'
text.upper()

'BLABLABLA'

In [ ]:
animals

['dog', 'cat', 'zebra', 'mouse', 'hippopotamus', 'lion']

Print out all the animals that start with Z.

In [ ]:
for animal in animals:
  if i == "Z":
    print(animal)

In [ ]:
t = 'mouse'

In [ ]:
t[0]

'm'

In [ ]:
for animal in animals:
  if animal[0] == "z":
    print(animal)

zebra

In [ ]:
animals.remove('zebra')

In [ ]:
for animal in animals:
  print(f'Checking animal {animal}...')
  if animal[0] == "z":
    print(animal)

Checking animal dog...
Checking animal cat...
Checking animal mouse...
Checking animal hippopotamus...
Checking animal lion...

In [ ]:
for x in animals:
  if x[-1] == 's':
    print(f'{x} ends with an s')

hippopotamus ends with an s

In [ ]:
r = range(1, 100)
type(r)

range

In [ ]:
list(r)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
i = 0

for n in range(1, 101):
  i += n

print(i)

5050

In [ ]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
for i in range(100):
  print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
l = list(range(0,20))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
l[5:15:2]

[5, 7, 9, 11, 13]

In [ ]:
list(range(5, 15, 2))

[5, 7, 9, 11, 13]

In [ ]:
g = 'AGTCAGTCGATAGCCAA'
g[::3]

'ACTAGA'

In [ ]:
g[::4]

'AAGGA'

In [ ]:
for i in range(0,10,3):
  print(g[i])

A
C
T
A

In [ ]:
len(g)

17

## WHILE loop

In [ ]:
i = 0

while i < 10:
  print(f'i is still smaller then ten. i is {i}')
  i += 1 # equivalent to i = i + 1

i is still smaller then ten. i is 0
i is still smaller then ten. i is 1
i is still smaller then ten. i is 2
i is still smaller then ten. i is 3
i is still smaller then ten. i is 4
i is still smaller then ten. i is 5
i is still smaller then ten. i is 6
i is still smaller then ten. i is 7
i is still smaller then ten. i is 8
i is still smaller then ten. i is 9

In [ ]:
animals

['dog', 'cat', 'mouse', 'hippopotamus', 'lion']

In [ ]:
i = 0

while i < len(animals):
  if len(animals[i]) > 5:
    print(animals[i])
  i += 1

hippopotamus

In [ ]:
for animal in animals:
  if len(animal) > 5:
    print(animal)

hippopotamus

In [ ]:
i = 0
while True:
  print(f'{i} to the power of 2 is {i ** 2}')
  i += 1
  if i > 100:
    break

0 to the power of 2 is 0
1 to the power of 2 is 1
2 to the power of 2 is 4
3 to the power of 2 is 9
4 to the power of 2 is 16
5 to the power of 2 is 25
6 to the power of 2 is 36
7 to the power of 2 is 49
8 to the power of 2 is 64
9 to the power of 2 is 81
10 to the power of 2 is 100
11 to the power of 2 is 121
12 to the power of 2 is 144
13 to the power of 2 is 169
14 to the power of 2 is 196
15 to the power of 2 is 225
16 to the power of 2 is 256
17 to the power of 2 is 289
18 to the power of 2 is 324
19 to the power of 2 is 361
20 to the power of 2 is 400
21 to the power of 2 is 441
22 to the power of 2 is 484
23 to the power of 2 is 529
24 to the power of 2 is 576
25 to the power of 2 is 625
26 to the power of 2 is 676
27 to the power of 2 is 729
28 to the power of 2 is 784
29 to the power of 2 is 841
30 to the power of 2 is 900
31 to the power of 2 is 961
32 to the power of 2 is 1024
33 to the power of 2 is 1089
34 to the power of 2 is 1156
35 to the power of 2 is 1225
36 to the power of 2 is 1296
37 to the power of 2 is 1369
38 to the power of 2 is 1444
39 to the power of 2 is 1521
40 to the power of 2 is 1600
41 to the power of 2 is 1681
42 to the power of 2 is 1764
43 to the power of 2 is 1849
44 to the power of 2 is 1936
45 to the power of 2 is 2025
46 to the power of 2 is 2116
47 to the power of 2 is 2209
48 to the power of 2 is 2304
49 to the power of 2 is 2401
50 to the power of 2 is 2500
51 to the power of 2 is 2601
52 to the power of 2 is 2704
53 to the power of 2 is 2809
54 to the power of 2 is 2916
55 to the power of 2 is 3025
56 to the power of 2 is 3136
57 to the power of 2 is 3249
58 to the power of 2 is 3364
59 to the power of 2 is 3481
60 to the power of 2 is 3600
61 to the power of 2 is 3721
62 to the power of 2 is 3844
63 to the power of 2 is 3969
64 to the power of 2 is 4096
65 to the power of 2 is 4225
66 to the power of 2 is 4356
67 to the power of 2 is 4489
68 to the power of 2 is 4624
69 to the power of 2 is 4761
70 to the power of 2 is 4900
71 to the power of 2 is 5041
72 to the power of 2 is 5184
73 to the power of 2 is 5329
74 to the power of 2 is 5476
75 to the power of 2 is 5625
76 to the power of 2 is 5776
77 to the power of 2 is 5929
78 to the power of 2 is 6084
79 to the power of 2 is 6241
80 to the power of 2 is 6400
81 to the power of 2 is 6561
82 to the power of 2 is 6724
83 to the power of 2 is 6889
84 to the power of 2 is 7056
85 to the power of 2 is 7225
86 to the power of 2 is 7396
87 to the power of 2 is 7569
88 to the power of 2 is 7744
89 to the power of 2 is 7921
90 to the power of 2 is 8100
91 to the power of 2 is 8281
92 to the power of 2 is 8464
93 to the power of 2 is 8649
94 to the power of 2 is 8836
95 to the power of 2 is 9025
96 to the power of 2 is 9216
97 to the power of 2 is 9409
98 to the power of 2 is 9604
99 to the power of 2 is 9801
100 to the power of 2 is 10000

In [ ]:
import numpy as np

In [ ]:
a = list(np.random.randint(1, 100, 1000000))

In [ ]:
len(a)

1000000